<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>
      Hello World!
    </h2>

    <p id="position"></p>

  </body>
  <script type="text/javascript" src="javascripts/index.js"></script>
</html>
